/* Add CSS styling here */

/* RESET */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

*{
box-sizing: border-box;
margin:0;
padding:0;
max-width:100%;
/* border: 1px solid grey; */
}

/*RESET */

html {
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.header-bar { /* Big section of the header */
    display: flex;
    justify-content: flex-start;
    padding: 4% 1%;
    background-color:#222831;
}



.nav-bar{
    display: flex;
    justify-content: flex-end;
    width: 40%;
    flex-direction: column-reverse;
    background-color:#222831;
}

nav a { /* links */
    background-color:#4f8a8b;
    color: #eeeeee;
    display: flex;
    justify-content: space-between;
    padding: 2% 4%;
    text-decoration: none;
    font-family: 'Prompt', sans-serif;
    border: 3px solid white;
}

nav { /* actual nav links */
    background-color:#222831;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 4% 4%;
    
    
  
}

h1{ /* my name */
    color:#eeeeee;
    display: flex;
    padding-left: 10%;
    font-family: 'Prompt', sans-serif;
    font-size:6rem;
}

/* picture and text div */

.container {
    display:flex;
    background-color:#fbd46d ;

}

 .img {
    width:50%;
    padding: 1% 1%;
    display: flex;
    background-color:white;

}
.text { /* right side box */
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 11% 0;
    background-color: white;
}

.text h2 { /* TJ Janus styles */
    font-family: 'Prompt', sans-serif;
    padding-left: 20%;
    font-size: 5rem;
    color: #222831;
}

/* Button styles */

.text button{
width: 20%;
display: flex;
justify-content: center;
text-align: center;
margin: 2%;
padding:2%;
margin-left: 20%;
color:#222831;
background-color: #fbd46d;
border: 5px solid #222831 ;
font-family: 'Prompt', sans-serif;
font-size: 1.7rem;
}

.text p{
    color:#222831;
    display: flex;
    align-items: center;
    width: 70%;
    margin-left: 20%;
    font-size: 2.5rem;
    margin-top: 30px;
    font-family: 'Prompt', sans-serif;
    
}


/* Gallery Start - image styles */

.gallery-container .ab {
    width: 25%;
    display: flex;
    padding:20px;
    flex-wrap: wrap;
}

.gallery-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    background-color:white ;
}


/* footer styles */

h3{ /* Like What You See */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Prompt', sans-serif;
    background-color:#222831 ;
    color: #fbd46d;
    margin: 2% 0;
}

.footer button { /* styles for the button contact me itself */
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:#fbd46d ;
    color:#222831;
    border:5px solid white;
    margin: 2% 0;
    font-family: 'Prompt', sans-serif;
    padding: 1% 1%;
    width: 250px;
    align-items: center;
    font-size: 2rem;
    text-decoration: none;
}
.tj{
    text-decoration: none;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#222831  ;

}